.Input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}

.Input label {
  font-weight: bold;
  display: block;
  margin-bottom: 8px;
  text-align: left;
}

.inputGroup {
  margin: 0 auto;
  width: 80%
}
.Input input {
  margin: 10px 0;
  outline: none;
  border: 1px solid #ccc;
  background-color: white;
  font: inherit;
  padding: 6px 10px;
  display: block;
  width: 80%;
  box-shadow: 0 2px 2px rgba(0,0,0,0.4);
  border-radius: 3%;
  height: 30px;
}

.Input input.Invalid {
  border-bottom: 3px solid red;
  background-color: rgb(255, 218, 214);
}

.Input input.Valid {
  border-bottom: 3px solid green;
  background-color: rgb(200, 255, 200);
}

.Input input:focus {
  outline: none;
  background-color: #ccc;
}

.Input input.Valid:focus {
  background-color: rgb(161, 255, 161);
}

.Input input.Invalid:focus {
  background-color: rgb(255, 188, 181);
}
@media (min-width: 700px) {
  .Input input {
    width: 450px;
  }
}